<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a href="#" class="brand">My blog</a>
    <ul class="nav pull-right">
      <li><a ng-click="navNewPost()">New Post</a></li>
    </ul>
  </div>
</div>

<div class="container" style="margin-top: 40px">
  <h1 class="text-center">{{data.currentPost.title}}</h1>
  <div class="row">
    <p>{{data.currentPost.contents}}</p>
  </div>
  <div class="row">
    <button class="btn btn-default" ng-click="editPost()">Edit</button>
  </div>
</div>