<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a ng-click="navHome()" class="brand">My blog</a>
    <ul class="nav pull-right">
      <li><a ng-click="navNewPost()">New Post</a></li>
    </ul>
  </div>
</div>

<div class="container" style="margin-top: 40px">
  <h1 class="text-center">Create new post</h1>
  <form>
    <fieldset>
      <label><strong>Title</strong></label>
      <input class="span12" ng-model="formData.newPostTitle" placeholder="New Post" type="text" maxlength="250">
      <label><strong>Body</strong></label>
      <textarea class="span12" style="height: 250px" ng-model="formData.newPostContents" placeholder="Type your post here..."></textarea>
      <button class="btn btn-primary" ng-click="createPost()">Create</button>
      <button class="btn btn-danger pull-right" ng-click="clearPost()">Clear post</button>
    </fieldset>
  </form>
</div>